.js-clock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body{
    transition: color 0.5s ease-in-out;
}

h1{
    font-size: 10em;
    font-weight: 800;
    color:#fff;
}

h2{
    font-size: 3em;
    font-weight: 500;
    color:yellow;
}

.form,
.greetings{
    display: none;
}

.showing{
    display: block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

input{
    border:none;
    background: rgba(0, 0, 0, 0);
    border-bottom:2px solid #fff;
    font-size: 1.3em;
    color:white;
    text-align: center;
}

input::placeholder{
    color:white;
}

.js-toDoList{
    color:yellow;
    background: rgba(0, 0, 0, 0.5);
    text-align: left;
}

.js-toDoList button{
    margin-left:10px;
    border:none;
    border-radius: 100%;
    background:  rgba(0, 0, 0, 0);
    padding: 5px;
    color:white;
    font-size: 1rem;
    font-weight: bold;
}

.js-weather, .greetings{
    color:white;
}